      h1 {
        font-family: Comic Sans MS; 
    }
    
      .funplace { 
            font-family: Comic Sans MS; 
            border-top-style: none;
            border-right-style: none;
            border-bottom-style: dashed;
            border-left-style: none;
            border-width: 5px;
            padding-bottom: 20px
    }
    
      h2 { 
        font-family: Comic Sans MS; 
    }
    
      .creamyintro {
        font-family: Comic Sans MS;
    }
    
      .creamyintro2 {
        font-family: Comic Sans MS;
        font-weight: bold
    }
    
      .creamyintro3 {
        font-family: Comic Sans MS;
    }
      .one {
        font-family: Comic Sans MS;
        font-weight: bold;
        font-size: 60px;
    }
    
      .clam { 
        font-family: Comic Sans MS; 
        font-size: 30px
    }
    
      .clam2 {
        font-family: Comic Sans MS;
    }
    
      .two {
        font-family: Comic Sans MS;
        font-weight: bold;
        font-size: 60px;
    }
    
      .cream { 
        font-family: Comic Sans MS; 
        font-size: 30px
    }
    
      .cream2 {
        font-family: Comic Sans MS;
    }
    
      .three {
        font-family: Comic Sans MS;
        font-weight: bold;
        font-size: 60px;
    }
    
      .do { 
        font-family: Comic Sans MS; 
        font-size: 30px
    }
    
      .do2 {
        font-family: Comic Sans MS;
    }
    
      .Gar {
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: dashed;
        border-left-style: none;
        border-width: 5px;
        padding-bottom: 20px
    }
    
      .Videotiym {
        font-family: Comic Sans MS;
      }
    
      .Snack {
        font-family: Comic Sans MS;
        margin-top: 30px
        
      }
    
      .button {
        border: none;
        color: white;
        padding: 6px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

      .snack {
        background-color: #2f6da1;
        color: white;
        border: 2px solid #173651;
    }

      .snack:hover {
        background-color: #663c96;
        color: white;
        border: 2px solid #663c96;
    }
    
       .about {
        background-color: #2f6da1;
        color: white;
        border: 2px solid #173651;
    }

      .about:hover {
        background-color: #663c96;
        color: white;
        border: 2px solid #663c96;
    }
    
      .About {
        font-family: Comic Sans MS;
        margin-top: 30px
        
      }
    
       .trash {
        background-color: #545454;
        color: white;
        border: 2px solid black;
    }

      .trash:hover {
        background-color: #235d00;
        color: white;
        border: 2px solid black;
    }
    
      .buttonn {
        border: 2px solid black;
        color: white;
        padding: 50px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    
